<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div>
            Name:
            <input type="text" id="name" class="form-control" formControlName="name" required>
            <div *ngIf="profileForm.controls.name.invalid && (profileForm.controls.name.dirty || profileForm.controls.name.touched)"
                class="alert alert-danger">
                <div *ngIf="profileForm.controls.name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="profileForm.controls.name.errors.minlength">
                    Name must be at least 3 characters long.
                </div>
            </div>
        </div>

        <div>
            Email:
            <input type="text" id="email" class="form-control" formControlName="email">
            <div *ngIf="profileForm.controls.email.invalid && (profileForm.controls.email.dirty || profileForm.controls.email.touched)"
                class="alert alert-danger">
                <div *ngIf="profileForm.controls.email.errors.required">
                    Email is required.
                </div>
                <div *ngIf="profileForm.controls.email.errors.email">
                    Please provide correct email.
                </div>
            </div>
        </div>

        <div>
            Photo:
            <input class="form-control" formControlName="imageFakePath" type="file" name="imageFakePath"
                (change)="imageUpload($event)">
            <div *ngIf="imageUrl.trim() != ''">
                <img [src]=" imageUrl" />
            </div>
        </div>

        <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    </form>
</div>