* {
    box-sizing: border-box;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* file input*/
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
input[type="file"] + label {
    color: white;
    background-color: silver;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}
input[type="file"]:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
input[type="file"] + label:hover {
    background-color: grey;
}
#fileLabel{
    color: white;
    padding: 12px;
    display: inline-block;
}
#imageHolder{
    margin-top: 6px;
}
img {
    border-radius: 6px;
    height: 100px;
    width: 180px;
}

/* button input */
input[type="button"] {
    margin-top: 6px;
    background-color: silver;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
input[type="button"]:hover {
    background-color: grey;
}

/* submit button */
input[type="submit"] {
    margin-top: 6px;
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="submit"]:disabled,
button:disabled {
    background-color: #b8d4b9;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 100px;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
}
